<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOJITO</title>
    <link rel="stylesheet" href="mojito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <a href="../RANKING_DRINKS_VICTOR/ranking.html" class="back-button">
            <i class="fas fa-arrow-left"></i>
        </a>

        <div class="header">
            <h1>MOJITO</h1>
            <p class="description">
               O Mojito é um coquetel cubano refrescante, feito com rum, hortelã, açúcar, limão e água com gás. É conhecido por seu sabor fresco e levemente doce, perfeito para dias quentes.
            </p>
        </div>

        <div class="main-content">
            <div class="image-section">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/MOJITO.webp" alt="MOJITO">
            </div>

            <div class="lists-section">
                <div class="ingredients">
                    <h2>INGREDIENTES</h2>
                    <ul>
                        <li>50 ml de rum branco</li>
                        <li>6 folhas de hortelã</li>
                        <li>30 ml de suco de limão fresco</li>
                        <li>2 colheres (chá) de açúcar</li>
                        <li>Água com gás</li>
                        <li>Gelo</li>
                    </ul>
                </div>

                <div class="instructions">
                    <h2>INSTRUÇÕES</h2>
                    <ol>
                        <li>Macere hortelã e açúcar no copo.</li>
                        <li>Adicione suco de limão e rum, misture.</li>
                        <li>Complete com gelo e água com gás.</li>
                        <li>Mexa e decore com hortelã.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
