<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAZERAC</title>
    <link rel="stylesheet" href="sazerac.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <a href="../RANKING_DRINKS_VICTOR/ranking.html" class="back-button">
            <i class="fas fa-arrow-left"></i>
        </a>

        <div class="header">
            <h1>SAZERAC</h1>
            <p class="description">
               O Sazerac é um coquetel clássico de Nova Orleans, feito com whiskey de centeio, absinto, açúcar e Angostura bitters. É um drink forte e aromático, servido sem gelo em um copo baixo.
            </p>
        </div>

        <div class="main-content">
            <div class="image-section">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/SAZERAC.jpg" alt="SAZERAC">
            </div>

            <div class="lists-section">
                <div class="ingredients">
                    <h2>INGREDIENTES</h2>
                    <ul>
                        <li>50 ml de whiskey de centeio</li>
                        <li>10 ml de absinto (ou pastis)</li>
                        <li>1 cubo de açúcar</li>
                        <li>Gelo</li>
                        <li>2 dashes de Angostura bitters</li>
                        <li>Casca de limão (para guarnição)</li>
                    </ul>
                </div>

                <div class="instructions">
                    <h2>INSTRUÇÕES</h2>
                    <ol>
                        <li>Dissolva o açúcar com Angostura bitters em um copo baixo.</li>
                        <li>Adicione o whiskey de centeio e gelo, mexa.</li>
                        <li>Em outro copo, adicione absinto, gire e descarte o excesso.</li>
                        <li>Coe a mistura no copo com absinto e decore com casca de limão.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
