<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação de Idade - DevPub</title>
    <link rel="stylesheet" href="entrada.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
</head>
<body>
    <main class="container">
        <div class="overlay">
            <h1>Nos diga sua data de nascimento, só pra<br> garantir que você já pode curtir com a gente!</h1>

            <div class="inputs">
                <input type="text" id="dia" maxlength="2" placeholder="DD">
                <input type="text" id="mes" maxlength="2" placeholder="MM">
                <input type="text" id="ano" maxlength="4" placeholder="AAAA">
            </div>

            <button id="btnEntrar" class="btn" type="button">ENTRE
              <a href=""></a>
            </button>

            <p class="moderacao">BEBA COM MODERAÇÃO.</p>
        </div>
    </main>

    <footer>
        <div class="footer-left">
            <p>&copy; SubZero 2025. Todos os direitos reservados<br>Beba com moderação.</p>
        </div>
        <div class="footer-right">
            <a href="#">Política de Privacidade</a>
            <a href="#">Termos de Uso</a>
            <a href="#">FAQ</a>
            <a href="#">Contato</a>
        </div>
    </footer>

    <script src="entrada.js"></script>

    
</body>
</html>