<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidade</title>
    <link rel="stylesheet" href="suporte_contato.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="topbar">
            <ul id="navLinks">
                <li><a href="#">BARES</a></li>
                <li><a href="../telainicialblog_julliany/telainicialblog.html">BLOG</a></li>
                <li><a href="../Escolha_de_bebidas_Julliany/escolhas_de_bebidas.html">RECEITAS</a></li>
                <li><a href="../RANKING_DRINKS_VICTOR/ranking.html">DRINKS PRINCIPAIS</a></li>
                <li><a href="../LOGIN_DEVPUB_ISABELA/LoginDevPub.html">LOGIN</a></li>
            </ul>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <main class="container">
        <h1>SUPORTE E CONTATO</h1>
        <p><strong>COMO POSSO ENTRAR EM CONTATO COM O SUPORTE?</strong></p>
        <p>Você pode entrar em contato com nosso suporte de várias maneiras:</p>
        <ul>
            <li>E-mail: devpubdrinkss@gmail.com</li>
            <li>Telefone: (XX) XXXX-XXXX</li>
        </ul>

        <br>

        <p><strong>QUAIS SÃO OS HORÁRIOS DE ATENDIMENTO AO CLIENTE?</strong></p>
        <p>Nosso atendimento ao cliente está disponível de segunda a sexta-feira, das 9h às 18h. Durante os finais de semana e feriados, nossa equipe pode estar offline, mas você pode enviar um e-mail e responderemos assim que possível.</p>

        <br>

        <p><strong>ESTOU COM DIFICULDADES PARA ACESSAR MINHA CONTA. O QUE FAZER?</strong></p>
        <p>Se você não consegue acessar sua conta, tente as opções de recuperação de senha disponíveis na página de login. Caso não consiga resolver, entre em contato com nosso suporte para assistência na recuperação da sua conta.</p>
        

        <br>

        <p><strong>VOCÊS TEM ATENDIMENTO PARA SUGESTÕES E FEEDBACKS?</strong></p>
        <p>Sim! Adoramos ouvir nossos clientes. Se você tem sugestões ou feedback sobre nossos produtos ou serviços, entre em contato conosco por e-mail ou através do nosso formulário de contato. Valorizamos sua opinião para sempre melhorar.</p>

        <br>

        <p><strong>COMO POSSO ATUALIZAR MEUS DADOS CADASTRAIS?</strong></p>
        <p>Você pode atualizar suas informações pessoais, diretamente na sua conta no nosso site. Se tiver dificuldades ou precisar de ajuda, entre em contato com nosso suporte.</p>

        <br>

        <p><strong>POSSO FAZER UMA RECLAMAÇÃO FORMAL SOBRE O SERVIÇO</strong></p>
        <p>Sim, caso tenha alguma reclamação formal sobre nosso serviço, por favor, entre em contato com nosso suporte. Agradecemos o seu feedback e tomaremos as medidas necessárias para resolver qualquer situação de insatisfação.</p>

        <br>
        
        <p><strong>HÁ ALGUM CANAL DE ATENDIMENTO PARA QUESTÕES URGENTES?</strong></p>
        <p>Se você tiver uma questão urgente e precisa de uma resposta rápida, recomendamos que entre em contato conosco via chat ao vivo ou por telefone. Estamos prontos para oferecer suporte imediato em situações urgentes.</p>

        <br>
        
       
    </main>

    <footer>
        <p>&copy; SubZero 2025.</p>
        <p>Todos os direitos reservados</p>
        <p>Beba com moderação.</p>
        <p>
            <a href="../Politicas_de_Privacidade_italo/politicas.html">Política de Privacidade</a> |
            <a href="../Termos_Italo/termos.html">Termos de Uso</a> |
            <a href="../Faq_Italo/faq.html">FAQ</a> |
            <a href="../Suporte_Contato_Italo/suporte_contato.html">Contato</a>
        </p>
    </footer>
</body>
</html>