<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estilo de Drink</title>
  <link rel="stylesheet" href="/SubZero/views/Escolha_de_bebidas_Julliany/escolhas.css">
</head>
<body>
      
  <div class="container">
    <h1>Estilo de drink</h1>
    <p>Escolha o estilo de drink melhor para você</p>
    <div class="options">

     <a href="/SubZero/public/DrinksPrincipais" style="text-decoration:none; color:inherit;">
        <div class="option">
      <img src="/SubZero/Imagens/Bebidas_não_alcoólicas/whisky.png" alt="Drink não alcoólico">
      <div class="label">Não alcoólicos</div>
    </div>
     <a href="/SubZero/views/Bebidas_não_alcoólicas_Julliany/Bebidas_não_alcoólicas.html" style="text-decoration:none; color:inherit;">
        <div class="option">
      <img src="/SubZero/Imagens/Bebidas_não_alcoólicas/Limonada_de_Lavanda.png" alt="Drink não alcoólico">
      <div class="label">Não alcoólicos</div>
    </div>
  </a>
</div>
</body>
</html>