body {
  background-color: #000;
  color: white;
  font-family: 'Inknut Antiqua', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.message-box {
  background-color: #1a1a1a;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}