<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cadastro Concluído</title>
  <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="Cadastroconcluido.css" />
</head>
<body>
  <div class="message-box">
    <h1>Cadastro concluído com sucesso!</h1>
    <p>Obrigado por se cadastrar. Agora você pode acessar sua conta.</p>
  </div>
  
  <script>
    setTimeout(function() {
      window.location.href = '../SOBRE_A_EQUIPE_ISABELA/Sobreaequipe.html';
    }, 3000); 
  </script>
</body>
</html>