<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARGARITA</title>
    <link rel="stylesheet" href="margarita.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <a href="../RANKING_DRINKS_VICTOR/ranking.html" class="back-button">
            <i class="fas fa-arrow-left"></i>
        </a>

        <div class="header">
            <h1>MARGARITA</h1>
            <p class="description">
               A Margarita é um coquetel refrescante, popular em festas, feito com tequila, triple sec e suco de limão. Seu sabor cítrico e levemente doce a torna uma escolha clássica.
            </p>
        </div>

        <div class="main-content">
            <div class="image-section">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/margarita.png" alt="MARGARITA">
            </div>

            <div class="lists-section">
                <div class="ingredients">
                    <h2>INGREDIENTES</h2>
                    <ul>
                        <li>50 ml de tequila</li>
                        <li>25 ml de triple sec </li>
                        <li>25 ml de suco de limão fresco</li>
                        <li>Gelo</li>
                        <li>Sal para a borda do copo </li>
                        <li>Fatia de limão (para guarnição)</li>
                    </ul>
                </div>

                <div class="instructions">
                    <h2>INSTRUÇÕES</h2>
                    <ol>
                        <li>Se desejar, passe a borda de um copo em limão e depois no sal para decorar.</li>
                        <li>Em uma coqueteleira, adicione tequila, triple sec, suco de limão e gelo.</li>
                        <li>Agite bem até ficar bem gelado.</li>
                        <li>Coe para o copo preparado e decore com uma fatia de limão.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
