<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidade</title>
    <link rel="stylesheet" href="perguntas_frequentes.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="topbar">
            <ul>
                <li><a href="#">Bares</a></li>
                <li><a href="../telainicialblog_julliany/telainicialblog.html">Blog</a></li>
                <li><a href="../Escolha_de_bebidas_Julliany/escolhas_de_bebidas.html">Receitas</a></li>
                <li><a href="../RANKING_DRINKS_VICTOR/ranking.html">Drinks Principais</a></li>
                <li><a href="../LOGIN_DEVPUB_ISABELA/LoginDevPub.css">Login</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h1>PERGUNTAS FREQUENTES</h1>

        <p><strong>QUAIS TIPOS DE DRINKS VOCÊS OFERECEM?</strong></p>
        <p>Nós oferecemos uma grande variedade de drinks, incluindo coquetéis clássicos, drinks autorais, mocktails (drinks sem álcool) e opções de drinks sazonais. </p>

        <br>

        <p><strong>POSSO PERSONALIZAR MEU DRINK?</strong></p>
        <p>Não! Mas pode incluir uma receita na aba de Receitas.</p>

        <br>

        <p><strong>COMO POSSO FAZER UM PEDIDO ONLINE?</strong></p>
        <p>Não é possível fazer um pedido online. Mas, é possível encontrar o bar mais próximo de você que possui o que deseja.</p>
        

        <br>

        <p><strong>COMO POSSO SABER SE UM DRINK CONTÉM ALGUM INGREDIENTE ESPECÍFICO, COMO GLÚTEN OU LACTOSE?</strong></p>
        <p>Todas as informações sobre os ingredientes dos nossos drinks estão disponíveis na descrição da bebida.</p>

        <br>

        <p><strong>QUAIS SÃO AS OPÇÕES DE DRINKS SEM ÁLCOOL?</strong></p>
        <p>Temos uma seleção de mocktails. Consulte nosso menu para ver a lista completa.</p>

        <br>

        <p><strong>COMO FAÇO PARA ME CADASTRAR NO SITE?/strong></p>
        <p>Cadastre-se facilmente em nosso site pela opção login no cabeçalho, informando suas informações pessoais.</p>

        <br>
        
        <p><strong>OS DRINKS PODEM SER FEITOS EM VERSÕES SEM AÇÚCAR?</strong></p>
        <p>Sim, podemos ajustar os drinks para versões sem açúcar ou com adoçantes naturais.</p>

        <br>

        <p><strong>COMO POSSO ENTRAR EM CONTATO COM O SUPORTE?</strong></p>
        <p>Você pode nos contatar por e-mail ou telefone. Nosso time de atendimento ao cliente está disponível para responder todas as suas dúvidas.</p>

        <br>
        
       
    </main>

    <footer>
        <p>&copy; SubZero 2025. Todos os direitos reservados<br>Beba com moderação.</p>
        <p>
            <a href="../Termos_Italo/termos.html">Termos de Uso</a> |
            <a href="../Faq_Italo/faq.html">FAQ</a> |
            <a href="../Politicas_de_Privacidade_italo/politicas.html">Políticas de Privacidade</a>
            <a href="../Suporte_Contato_Italo/suporte_contato.html">Contato</a>
        </p>
    </footer>
</body>
</html>