<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidade</title>
    <link rel="stylesheet" href="recuperacao_senha.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="topbar">
            <ul>
                <li><a href="#">Bares</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Receitas</a></li>
                <li><a href="#">Drinks Principais</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h1>RECUPERAÇÃO DE SENHA</h1>

        <p><strong>ESQUECI MINHA SENHA. COMO RECUPERÁ-LA?</strong></p>
        <p>Se você esqueceu sua senha, basta clicar em "Esqueci minha senha" na página de login. Enviaremos um e-mail com instruções para você redefinir sua senha. Certifique-se de verificar sua caixa de entrada, incluindo a pasta de spam.</p>

        <br>

        <p><strong>POSSO FAZER A ALTERAÇÃO DA MINHA SENHA?</strong></p>
        <p>Sim, você pode alterar sua senha a qualquer momento. Basta acessar a seção "Minha Conta" no site, clicar em "Alterar Senha" e seguir as instruções.</p>

        <br>

        <p><strong>MINHA SENHA FOI COMPROMETIDA. COMO FAÇO PARA ALTERÁ-LA?</strong></p>
        <p>Se você acredita que sua senha foi comprometida, recomendamos que altere imediatamente. Faça o login na sua conta e vá até a opção de "Alterar Senha" para criar uma nova senha segura. Se precisar de ajuda, entre em contato com o suporte.</p>
        

        <br>

        <p><strong>COMO CRIAR UMA SENHA SEGURA?</strong></p>
        <p>Uma senha segura deve ter pelo menos 8 caracteres e incluir uma combinação de letras maiúsculas e minúsculas, números e símbolos. Evite usar informações pessoais facilmente descobertas, como datas de nascimento ou nomes comuns</p>

        <br>
        
       
    </main>

    <footer>
        <p>&copy; SubZero 2025. Todos os direitos reservados<br>Beba com moderação.</p>
        <p>
            <a href="#">Termos de Uso</a> |
            <a href="#">FAQ</a> |
            <a href="#">Políticas de Privacidade</a>
        </p>
    </footer>
</body>
</html>