<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Localizador de Bares</title>
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
  <style>
    .logo-container {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
    }
    .logo-container img {
      height: 80px;
      transition: transform 0.3s ease;
    }
    .logo-container a:hover img {
      transform: scale(1.1);
    }
  </style>
</head>
<body>
  <div class="logo-container"><a href="/SubZero/views/Home_Italo/home.html"><img src="/SubZero/Imagens/logo.png" alt="Logo"></a></div>
  <h1>Mapa de Bares</h1>

  <div class="search-container">
    <input type="text" id="search" placeholder="Buscar local...">
    <button onclick="buscarLocal()">Buscar</button>
  </div>

  <div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="script.js"></script>
</body>
</html>
