<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Populares</title>
    <link rel="stylesheet" href="ranking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="topbar">
            <ul>
                <li><a href="#">Bares</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Receitas</a></li>
                <li class="right"><a href="#">Drinks Principais</a></li>
                <li class="login"><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="drinks">
        <div class="banner">
            <img src="../../IMAGES/RANKING_DRINKS_VICTOR/topopage.png" alt="Banner de Drinks">
        </div>
        <h1>DRINKS MAIS POPULARES</h1>
        <div class="gallery">
            <a href="drink1.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/Old Fashioned.jpg" alt="Old Fashioned">
                <span class="name">Old Fashioned</span>
            </a>
            <a href="drink2.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/Negroni.png" alt="Negroni">
                <span class="name">Negroni</span>
            </a>
            <a href="drink3.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/daiquiri.webp" alt="Daiquiri">
                <span class="name">Daiquiri</span>
            </a>
            <a href="drink4.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/margarita.png" alt="Margarita">
                <span class="name">Margarita</span>
            </a>
            <a href="drink5.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/dry_martini.png" alt="Martini">
                <span class="name">Martini</span>
            </a>
            <a href="drink6.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/MOJITO.webp" alt="Mojito">
                <span class="name">Mojito</span>
            </a>
            <a href="drink7.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/SAZERAC.jpg" alt="Sazerac">
                <span class="name">Sazerac</span>
            </a>
            <a href="drink8.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/MOSCOW MULE.webp" alt="Moscow Mule">
                <span class="name">Moscow Mule</span>
            </a>
            <a href="drink9.html" class="drink">
                <img src="../../IMAGES/RANKING_DRINKS_VICTOR/WHISKY SOUR.jpg" alt="Whiskey Sour">
                <span class="name">Whiskey Sour</span>
            </a>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2025 SubZero. Todos os direitos reservados
            <br> Beba com moderação.</p>
    </footer>
    
    <script src="ranking.js"></script>
</body>
</html>
