<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidade</title>
    <link rel="stylesheet" href="segurança_privacidade.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="topbar">
            <ul>
                <li><a href="#">Bares</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Receitas</a></li>
                <li><a href="#">Drinks Principais</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h1>PERGUNTAS FREQUENTES</h1>

        <p><strong>COMO VOCÊS FAZEM A PROTEÇÃO DE DADOS DOS USUÁRIOS?</strong></p>
        <p>Nós levamos a sua privacidade e segurança muito a sério. Utilizamos criptografia SSL (Secure Socket Layer) para garantir que todos os dados transmitidos em nosso site, como informações pessoais e de pagamento, sejam protegidos contra acessos não autorizados. </p>

        <br>

        <p><strong>QUAIS DADOS VOCÊS COLETAM?</strong></p>
        <p>Coletamos apenas os dados necessários para processar seu pedido e melhorar sua experiência conosco. Isso inclui informações como nome, endereço, e-mail e telefone. Para mais detalhes, consulte nossa Política de Privacidade.</p>

        <br>

        <p><strong>HÁ O COMPARTILHAMENTO DE DADOS COM TERCEIROS?</strong></p>
        <p>Não compartilhamos seus dados pessoais com terceiros, exceto quando necessário para o processamento de pagamentos e envio de produtos, ou conforme exigido por lei. Nós nos comprometemos a não vender ou alugar suas informações a ninguém.</p>
        

        <br>

        <p><strong>O QUE FAZER SE NOTAR ATIVIDADES SUSPEITAS NA MINHA CONTA?</strong></p>
        <p>Se você perceber qualquer atividade suspeita na sua conta, como logins não reconhecidos ou transações que você não fez, entre em contato com nosso suporte imediatamente. Vamos investigar o caso e tomar as ações necessárias para proteger sua conta.</p>

        <br>

        <p><strong>VOCÊS UTILIZAM OS COOKIES NA COLETA DAS INFORMAÇÕES?</strong></p>
        <p>Sim, utilizamos cookies para melhorar a sua experiência no nosso site, personalizando seu conteúdo e suas preferências. Você pode desativar os cookies a qualquer momento nas configurações do seu navegador, mas isso pode impactar a funcionalidade de algumas áreas do site.</p>

        <br>

        <p><strong>COMO POSSO GARANTIR QUE MINHA CONTA E DADOS ESTÃO SEGUROS?</strong></p>
        <p>Recomendamos que você use uma senha forte, composta por letras, números e caracteres especiais. Além disso, evite compartilhar sua senha com outras pessoas e altere-a periodicamente para aumentar a segurança da sua conta.</p>

        <br>   
       
    </main>

    <footer>
        <p>&copy; 2025 SubZero. Todos os direitos reservados<br>Beba com moderação.</p>
        <p>
            <a href="#">Termos de Uso</a> |
            <a href="#">FAQ</a> |
            <a href="#">Políticas de Privacidade</a>
        </p>
    </footer>
</body>
</html>