<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidade</title>
    <link rel="stylesheet" href="segurança_privacidade.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="topbar">
            <ul id="navLinks">
                <li><a href="#">BARES</a></li>
                <li><a href="../telainicialblog_julliany/telainicialblog.html">BLOG</a></li>
                <li><a href="../Escolha_de_bebidas_Julliany/escolhas_de_bebidas.html">RECEITAS</a></li>
                <li><a href="../RANKING_DRINKS_VICTOR/ranking.html">DRINKS PRINCIPAIS</a></li>
                <li><a href="../LOGIN_DEVPUB_ISABELA/LoginDevPub.html">LOGIN</a></li>
            </ul>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <main class="container">
        <h1>PERGUNTAS FREQUENTES</h1>

        <p><strong>COMO VOCÊS FAZEM A PROTEÇÃO DE DADOS DOS USUÁRIOS?</strong></p>
        <p>Nós levamos a sua privacidade e segurança muito a sério. Utilizamos criptografia SSL (Secure Socket Layer) para garantir que todos os dados transmitidos em nosso site, como informações pessoais e de pagamento, sejam protegidos contra acessos não autorizados. </p>

        <br>

        <p><strong>QUAIS DADOS VOCÊS COLETAM?</strong></p>
        <p>Coletamos apenas os dados necessários para processar seu pedido e melhorar sua experiência conosco. Isso inclui informações como nome, endereço, e-mail e telefone. Para mais detalhes, consulte nossa Política de Privacidade.</p>

        <br>

        <p><strong>HÁ O COMPARTILHAMENTO DE DADOS COM TERCEIROS?</strong></p>
        <p>Não compartilhamos seus dados pessoais com terceiros, exceto quando necessário para o processamento de pagamentos e envio de produtos, ou conforme exigido por lei. Nós nos comprometemos a não vender ou alugar suas informações a ninguém.</p>
        

        <br>

        <p><strong>O QUE FAZER SE NOTAR ATIVIDADES SUSPEITAS NA MINHA CONTA?</strong></p>
        <p>Se você perceber qualquer atividade suspeita na sua conta, como logins não reconhecidos ou transações que você não fez, entre em contato com nosso suporte imediatamente. Vamos investigar o caso e tomar as ações necessárias para proteger sua conta.</p>

        <br>

        <p><strong>VOCÊS UTILIZAM OS COOKIES NA COLETA DAS INFORMAÇÕES?</strong></p>
        <p>Sim, utilizamos cookies para melhorar a sua experiência no nosso site, personalizando seu conteúdo e suas preferências. Você pode desativar os cookies a qualquer momento nas configurações do seu navegador, mas isso pode impactar a funcionalidade de algumas áreas do site.</p>

        <br>

        <p><strong>COMO POSSO GARANTIR QUE MINHA CONTA E DADOS ESTÃO SEGUROS?</strong></p>
        <p>Recomendamos que você use uma senha forte, composta por letras, números e caracteres especiais. Além disso, evite compartilhar sua senha com outras pessoas e altere-a periodicamente para aumentar a segurança da sua conta.</p>

        <br>   
       
    </main>

    <footer>
        <p>&copy; SubZero 2025.</p>
        <p>Todos os direitos reservados</p>
        <p>Beba com moderação.</p>
        <p>
            <a href="../Politicas_de_Privacidade_italo/politicas.html">Política de Privacidade</a> |
            <a href="../Termos_Italo/termos.html">Termos de Uso</a> |
            <a href="../Faq_Italo/faq.html">FAQ</a> |
            <a href="../Suporte_Contato_Italo/suporte_contato.html">Contato</a>
        </p>
    </footer>
</body>
</html>